/* *
 *  DIGARD Gaël
 *  2020-09-23
 */
*{
    font-family: var(--sl-font-sans);
}
.container{
    width:50vw;
    margin:auto;
}
@media (max-width: 1500px) {
    .container {
        width: 100%;
    }
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
    /*justify-content: center;*/
    background-color: #fff;
    color: #444;
}

sl-button.menu{
    position: absolute;
}

.one-card{
    margin-bottom:5%;
    flex: 1 1 0px;
    margin-right: 3%;
}

.one-card sl-avatar{
    margin-right:5px;
}

.card-header {
    max-width: 300px;
}

.card-header .batch{
    display: block;
}

.card-header [slot="header"] {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-header h3 {
    margin: 0;
}

.card-header sl-icon-button {
    font-size: var(--sl-font-size-medium);
}
.card-overview [slot="footer"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-dropdowns sl-dropdown {
    margin-right: .25rem;
}

.dropdown-hoist {
    border: solid 2px var(--sl-panel-border-color);
    padding: var(--sl-spacing-medium);
    overflow: hidden;
}

#bottom-bar{
    position: fixed;
    bottom:0;
    left:0;
    width: 100vw;
    text-align:right;
    z-index: 2;
padding: 2%;
box-sizing: border-box;
}

.pig{
    text-align: center;
    height:50vh;
    width:100vw;
    /*background:#f2ebdf;*/
}
.pig h2{
    font-weight: 100;
    font-size: 2.1rem;
}
.pig img{
    height: 70%;
    border-radius:50%;
    margin-bottom:2%;
}

.small{
font-size: small;
}
.gray{
    color:gray;
}

 